/*-----------------------------------
Form Styles
-------------------------------------*/

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: $input-focus-box-shadow;
}

.form-inline {
  @include flex;
  flex-wrap: wrap;
  justify-content: center;
  @include minMedium {
    justify-content: flex-end;
  }
}

.subscribe-form {
  .form-control {
    width: 250px;
    max-width: 100%;
    padding: 1rem;
    margin-right: .54rem;
    margin-bottom: .54rem;
    @media (min-width: 425px) {
      margin-bottom: 0;
    }
    @include minLarge {
      width: 380px;
    }
  }
}

.product-quantity {
  position: relative;

  .quantity {
    text-align: center;
    height: 3rem;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  .quantity-actions {
    border: none;
    background-color: transparent;
    position: absolute;
    color: $light-gray;
    @include transition(.3s);

    &:hover {
      color: var(--theme-default);
    }
  }

  .quantity-minus {
    top: .7rem;
    left: .2rem;

  }

  .quantity-plus {
    top: .7rem;
    right: .2rem;
  }
}