/*-----------------------------------
Checkout Page Styles
-------------------------------------*/

.order-summary {
  padding: 3rem;
  box-shadow: #f3f3f3 0 0 20px 0;
  .title {
    border-bottom: solid 1px #ddd;
  }

  .orders {
    margin: 1rem 0;
    line-height: 2;
    .order-item {
      @include flex;
      justify-content: space-between;
    }
  }
}